<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://durablefunction20240623213939.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3fdc74c3-bcfb-40fe-b3cf-3bf5eecbbdc8/resourcegroups/DurableFunction20240623213939ResourceGroup/providers/Microsoft.Web/sites/DurableFunction20240623213939</ResourceId>
    <UserName>$DurableFunction20240623213939</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://durablefunction20240623213939.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>