@page
@model LoginModel
@{
    ViewData["Title"] = "LOG IN";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #1A1A1A;
            color: ghostwhite;
        }
        /* format for the form section */
        .form-container {
            width: 400px; /* Set the width of the form container */
            margin: 0 auto; /* Center the form horizontally */
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        input[type="email"],
        input[type="password"],
        input[type="text"] {
            background-color: #f0f0f0;
            color: black;
        }
        /* format for the heading */
        #myHeader {
            padding: 1%;
            text-align: center;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <!-- header section -->
    <h1 id="myHeader" style="color: white; font-size: 2em;">@ViewData["Title"]</h1>
    <!-- form section -->
    <div class="form-container">
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" style="color:black" class="form-control" autocomplete="username" aria-required="true" style="color:black" placeholder="name@example.com" />
                <label asp-for="Input.Email" style="color:black" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" style="color:black" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" style="color:black" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
    </div>
</body>
</html>
