@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <!--welcome text and image for home screen-->
    <h1 class="display-4">Welcome to</h1>
    <img src="~/images/home page gif.gif" />  
    <h1 class="display-4">KHUMALO CRAFT EMPORIUM</h1>

</div>